/* body{
    background-color: lightblue;
} */
.button1{
    box-shadow: gray 2px 2px 2px;
    margin: 2% 5% 2% 45%;
}
.contain{
    position: sticky;
    color: blanchedalmond;
}
.contain1{
    color: black;
    padding: 15px;
    margin-top: 50px;
    position: sticky;
}
.mg{
    text-decoration: none;
}